@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
body{
  font-family: 'Borel', cursive;
  padding: 30px;
  max-width: 700px;
  margin: auto;
}
.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.navbar a:hover{
    color: white;
    background-color: crimson;
    border-radius: 50px;
}
.navbar h1{
  color: crimson;
}
/*blog-preview /list*/
.blog-preview{
  padding:10px 16px;
  margin: 20px 0;
  border-bottom:1px solid #862244
}
.blog-preview:hover{
  box-shadow:1px 3px 5px rgba(0, 0, 0, 0.1)
}
.blog-preview h2{
  font-size:20px;
  color:crimson;
  margin-bottom:8px;
}
button{
  padding: 10px;
  background-color: crimson;
  border-radius: 10px;
  color: white;
  border: none;
}
.BlogList button:hover {
  transform: translate(-1px, -10px);
}
@media screen and (max-width:500px) {
  .navbar{
    display: flex;
    flex-direction: column;
}
}